@media print {

    body {
        color : #000000;
        background : #ffffff;
        font-family : "Times New Roman", Times, serif;
        font-size : 12pt;
        float:none;
    }

    h1, h2 { 
        page-break-before: always;
        font-weight: bold;
        float:none;
    }
    div.subhead {
        font-weight: bold;
        page-break-after: avoid;
        page-break-inside: avoid;
        float:none;
    }

    div.page-break {
        page-break-after:always;
    }

    h3, h4 {
        page-break-after: avoid;
        font-weight: bold;
        float:none;
    }
    
    p, pre, blockquote {
        page-break-inside: avoid;
    }
    
    p {
        page-break-before: always;
    }

    td, th {
        padding: 1px;
        float:none;
    }

    th {
        font-weight: bold;
        float:none;
    }

    td.odd {
        background-color: #EEEEEE;
        float:none;
    }

    td.even {
        background-color: #FFFFFFF;
        float:none;
    }

    td.thinline {
        color: #AAAAAA;
        font-weight: normal;
        float:none;
    }
    
    td.subtotals {
        font-size: 8pt;
        font-weight: bold;
        color: #AAAAAA;
        background-color: #888888;
        float:none;
    }

    table.pad-height td {
        padding: 6px 0;
        float:none;
    }

    a {
        text-decoration : underline;
        color : #0000ff;
        float:none;
    }

    /* ------------------- Report colum styles for PRINTING ----------------------- */
    td.compressedColumn {
        width: 10px;
    }

}






@media screen {
    body {
        background: #FFFFFF;
    }

    td.thinline {
        color: #AAAAAA;
        font-weight: normal;
        float:none;
    }
    
    td.subtotals {
        font-size: 8pt;
        font-weight: bold;
        color: #888888;
        background-color: #EEEEEE;
        float:none;
    }

    td.subheader {
        font-size: 10pt;
        font-weight: bold;
        color: #888888;
        background-color: #EEEEEE;
        float:none;
    }
    
    td.nobgcolor {
        background-color: #FFFFFF;
    }

}




