body {
    background: #007083;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
.ui-tabs {
	zoom: 1;
}
.ui-tabs .ui-tabs-nav {
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0;
}
.ui-tabs .ui-tabs-nav li {
	position: relative;
	float: left;
	margin: 0 3px -2px 0;
	padding: 0;
}
.ui-tabs .ui-tabs-nav li a {
	display: block;
	padding: 10px 20px;
	background: #D9E6E9;
	border: 2px #007083 solid;
	border-bottom-color: #007083;
	outline: none;
}
.ui-tabs .ui-tabs-nav li a:hover {
	background: #eee;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	padding: 10px 20px 12px 20px;
	background: #fff;
	border-bottom-style: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: default;
}
a, .ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
    text-decoration: none;
    color: #B40B47;
    font-weight: bold;
}
a {
    font-weight: normal;
}
a:hover {
   color: #007083;
}
.ui-tabs .ui-tabs-nav li a:hover {
	cursor: pointer;
    color: #007083;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	clear: both;
	border: 2px #007083 solid;
	padding: 20px;
    background: #fff;
}
.ui-tabs-panel {
}
.ui-tabs .ui-tabs-hide {
	display: none;
}
hr {
    border: none;
	border-top: 1px solid #007083;
    margin: 10px 0;
}
div.wrapper {
    width: 1050px;
    margin: auto;
    margin-top: 32px;
    background: white;
    padding: 5px 30px 30px;
    box-shadow: 6px 6px 8px #151515;
}
div.fancywrapper {
    width: 1030px;
    margin: 0;
    margin-top: 0px;
    background: white;
    padding: 20px;
    box-shadow: none;
}
div.confirm {
    width: 650px;
    margin: auto;
    margin-top: 0px;
    background: white;
    padding: 20px;
    box-shadow: none;
    text-align: center;
}
div.msg {
    color: red;
    font-style: italic;
    font-size: larger;
    text-align: center;
    margin-bottom: 10px;
}
span.msg {
    color: #B40B47;
    font-style: italic;
}
div.logo {
    height: 90px;
    background: url("images/logo.png") right center no-repeat;
}
div.userinfo {
   color: #007083;
   float: right;
   margin-bottom: 2px;
}
div.subhead {
    margin: 20px 0;
    font-weight: bold;
    font-size: larger;
}
div.errormessage {
    color: red;
    font-weight:bold;
    font-size: 11pt;
}
input, select, textarea, button {
	border: 1px solid #007083;
	background: #D9E6E9;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 14px;
	color: #454743;
    margin: 4px 0;
}
input[type="checkbox"] {
	border: none;
	background: none;
}
input[type="submit"]:hover,
button:hover {
	color: #fff;
    background: #B40B47;
}
input.smaller {
    font-size:9pt;
}
select.smallfont {
    font-size:12pt;
    color:red;
}
button {
    padding: 2px;
}
button.button-in-form {
  float: none;
  margin: 0;
  position: static;
  width: 100%;
}
button.button {
    float: right;
    position: relative;
    bottom: 10px;
}
a.button {
    float: right;
    position: relative;
    bottom: 6px;
    font-size: 14px;
    text-decoration: none;
    background-color: #D9E6E9;
    color: #000;
    padding: 3px 6px;
    margin-left: 12px;
    border: 1px solid #000;
}
a.button:hover {
	color: #fff;
    background: #B40B47;
}
a.cancel {
    position: relative;
    bottom:  0px;
}
select.button {
    position: relative;
    bottom: 6px;
    font-size: 14px;
    text-decoration: none;
    background-color: #D9E6E9;
    color: #000;
    padding: 2px 0;
    min-width: 150px;
    margin-left: 12px;
    border: 1px solid #000;
}
table {
    border-collapse: collapse;
}
td, th {
    padding: 2px;
}
table.zebra tbody tr:nth-child(odd){
    background: #D9E6E9;
}
table.pad-height td {
    padding: 6px 0;
}
tbody tr:nth-child(even){
    background: #fff;
}
.formdiv {
  border: 1px solid #000000;
  padding: 20px 10px;
  text-align: center;
}
.spacer10 {
    display: inline;
    width: 10px;
}
.extra-padding {
    padding: 16px;
}
.noborder {
    border: none;
}
.fullwidth {
    width: 100%;
}
.nearfullwidth {
    width: 98%;
}
.halfwidth {
    width: 50%;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.floatnone, a.floatnone {
    float:  none;
    margin: 12px;
}
.clear {
    clear: both;
}
.inline {
    display: inline;
}
.middle {
    vertical-align: middle;
}
.centered {
    margin: auto;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.jdpicker_w {
    display: inline;
}
.colorboxes, .confirm-form {
    display: none;
}
.vertical-padding-light {
    padding: 4px 0;
}
.colorbox-frame {
    padding: 36px;
}
.req, .reqwrap, select.req {
    background: #e9d9df;
}
.arrow {
  bottom: 6px;
  position: relative;
  left: -2px;
}
table.sort thead tr th {
    cursor: pointer;
}
.emphasis {
    color: #B40B47;
}

.thead_selected {
    font-size:12pt;
    background-color: #80B6BE /*#5CB7C4*/;
    color: #640202;
}

.thead_unselected {
    font-size:11pt;
    background-color: #80B6BE;
    color: black;
}



.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin: 2px 0 0 0;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
	font-size: 100%;
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
	text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
	width: 2.2em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
	width: 2.4em;
}
.ui-button-icons-only {
	width: 3.4em;
}
button.ui-button-icons-only {
	width: 3.7em;
}

/* button text element */
.ui-button .ui-button-text {
	display: block;
	line-height: normal;
}
.ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
	padding-left: 2.1em;
	padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
	padding: .4em 1em;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
	left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
	right: .5em;
}

/* button sets */
.ui-buttonset {
	margin-right: 7px;
}
.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.ui-datepicker {
    background: none repeat scroll 0 0 #fff;
    border: 1pt solid black;
    display: none;
    font-size: 11pt;
    padding: 0.2em 0.2em 0;
    width: 220px;
}
.ui-datepicker .ui-datepicker-header {
    padding: 0.2em 0;
    position: relative;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 1.8em;
    position: absolute;
    top: 2px;
    width: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-datepicker .ui-datepicker-title {
    line-height: 1.8em;
    margin: 0 2.3em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 10pt;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 49%;
}
.ui-datepicker table {
    border-collapse: collapse;
    font-size: 10pt;
    margin: 0 0 0.4em;
    width: 100%;
}
.ui-datepicker th {
    border: 0 none;
    font-weight: bold;
    padding: 0.7em 0.3em;
    text-align: center;
}
.ui-datepicker td {
    border: 0 none;
    padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 0.2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    margin: 0.7em 0 0;
    padding: 0 0.2em;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    cursor: pointer;
    float: right;
    margin: 0.5em 0.2em 0.4em;
    overflow: visible;
    padding: 0.2em 0.6em 0.3em;
    width: auto;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    margin: 0 auto 0.4em;
    width: 95%;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-row-break {
    clear: both;
    font-size: 0;
    width: 100%;
}
.ui-datepicker-rtl {
    direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
    left: auto;
    right: 2px;
}
.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
    left: auto;
    right: 1px;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 1px;
    border-right-width: 0;
}
td.ui-datepicker-today {
    background: silver;
}
td.subtotals {
    font-size: 9pt;
    font-weight: bold;
    color: #AAAAAA;
    float:none;
}
td.subheader {
    font-size: 10pt;
    font-weight: bold;
    color: #888888;
    background-color: #EEEEEE;
    float:none;
}
td.nobgcolor {
    background-color: #FFFFFF;
}
input:disabled, select:disabled, button:disabled {
    background: silver;
}

/* ------------------- Report colum styles for BROWSING ----------------------- */
td.compressedColumn {
    width: 10px;
    color: red;
}

